<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-danger btn-lg btn-block text-white">Add Books</button>
            </div>
            <div class="modal-body">
                <form action="" [formGroup]="red" class="form-group">
                  
                    <div class="form-group row">
                        <label for="Pass" class="col-sm-2 col-form-label offset-2 mt-4">Book Tittle</label>
                        <div class="col-md-5 mt-4">
                            <input type="text" class="form-control" id="Pass" placeholder="Enter Tittle"
                                formControlName="booktit">
                            <small *ngIf="red.get('booktit').touched && red.get('booktit').invalid">Enter this
                                Field</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="categ" class="col-sm-2 col-form-label offset-2 mt-4">Category</label>
                        <div class="col-md-5 mt-4">
                            <input type="text" class="form-control" id="categ" placeholder="Enter CATEGORY"

                                formControlName="categ">
                            <small *ngIf="red.get('categ').touched && red.get('categ').invalid">Enter this Field</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Aname" class="col-sm-2 col-form-label offset-2 mt-4">Author</label>
                        <div class="col-md-5 mt-4">
                            <input type="text" class="form-control" id="Aname" placeholder="Enter Author Name"
                                formControlName="auth">
                            <small *ngIf="red.get('auth').touched && red.get('auth').invalid">Enter this
                                Field</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Copie" class="col-sm-2 col-form-label offset-2 mt-4">Copies</label>
                        <div class="col-md-5 mt-4">
                            <input type="number" class="form-control" id="Copie" placeholder="Enter no. Copies" formControlName="copy">
                            <small *ngIf="red.get('copy').touched && red.get('copy').invalid">Enter this Field</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="publish" class="col-sm-2 col-form-label offset-2 mt-4">Book publisher</label>
                        <div class="col-md-5 mt-4">
                            <input type="text" class="form-control" id="publish" placeholder="Enter Publisher name" formControlName="publ">
                            <small *ngIf="red.get('publ').touched && red.get('publ').invalid">Enter this Field</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="IS" class="col-sm-2 col-form-label offset-2 mt-4">ISBN</label>
                        <div class="col-md-5 mt-4">
                            <input type="number" class="form-control" id="IS" placeholder="Enter ISBN" formControlName="isb">
                            <small *ngIf="red.get('isb').touched && red.get('isb').invalid">Enter this Field</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="cr" class="col-sm-2 col-form-label offset-2 mt-4">Copyrights</label>
                        <div class="col-md-5 mt-4">
                            <input type="text" class="form-control" id="cr" placeholder="Enter Copyrights" formControlName="copyrightyear">
                            <small *ngIf="red.get('copyrightyear').touched && red.get('copyrightyear').invalid">Enter this Field</small>
                        </div>
                    </div>
                     <div class="form-group row">
                        <label for="date" class="col-sm-2 col-form-label offset-2 mt-4">Date Added</label>
                        <div class="col-md-5 mt-4">
                            <input type="number" class="form-control" id="date" placeholder="Enter Date" formControlName="dateadd">
                            <small *ngIf="red.get('dateadd').touched && red.get('dateadd').invalid">Enter this Field</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="st" class="col-sm-2 col-form-label offset-2 mt-4">Status</label>
                        <div class="col-md-5 mt-4">
                            <input type="text" class="form-control" id="st" placeholder="Enter Status" formControlName="stat">
                            <small *ngIf="red.get('stat').touched && red.get('stat').invalid">Enter this Field</small>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="button btn-success rounded-pill float-left" data-dismiss="modal" (click)="add()"><i
                        class="fa fa-save"></i><a routerLik="usertable"></a>&nbsp;Save</button>
            </div>

        </div>
    </div>
</div>
 -->
