<div style="background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.5)),url('https://images.unsplash.com/20/cambridge.JPG?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1330&q=80') ;
 height: 700px;width: 1550px;background-size: cover;background-repeat: no-repeat;">

    <h2 class="h2 text-center" style="background-color: transparent;font-family: cursive;color: whitesmoke;">
        About
        <div class="card offset-2 mt-4" style="background-color: transparent;word-wrap: break-word;height: 400px;width: 900px;">
           <p style="font-size: 25px;color: whitesmoke;"> In April 1866, the Holston Presbytery assembled at the old Pleasant Grove Church in Bristol, Tenn., to
            establish a Christian college. The College was built on 25 acres (100,000 m2) of land in Bristol that had
            been donated by Reverend James King, in whose honor it is named.[2] The first classes were offered in August
            1867.[3]

            When the college outgrew its small campus, King's grandson Isaac Anderson donated land on a hillside east of
            Bristol and in 1917 the college moved to its present location.[3]

            In January 2013, King College announced that it would change its name to King University.[4] The name change
            reflects the master's-level, comprehensive benchmark that King has reached in recent years. Becoming a
            university was the natural unfolding of King's strategic plan, unveiled in 1998, to create an even broader
            mix of programs based on a university model. On June 1, 2013, King College officially became King
            University.

            In December 2013, King University was granted a Level V designation by the Southern Association of Colleges
            and Schools Commission on Colleges (SACSCOC), after a two-year application and review process. As a result,
            King University began its first doctoral program, a Doctorate of Nursing Practice, in Fall 2014.[5]
        </p>
        </div>
    </h2>

</div>